.About {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    width: 65vw;
    padding: 7rem 5.2vw 7rem 0;

    grid-column: 2 / 3;

    &-content {
        display: flex;
        flex-direction: column;
    

        font-size: 10rem;
    }

    &-paragraph {
        font-family: 'Exo', sans-serif;
        text-transform: uppercase;
        line-height: 10rem;
        margin-bottom: 3rem;

        span {
            background: linear-gradient(to left, var(--Blood), var(--Sand), var(--Sky));
            background-size: cover;
            -webkit-animation: Swirl 3s ease infinite;
            animation: Swirl 3s ease infinite;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-family: inherit;
        }

        a {
            font-family: inherit;
        }


        & a:hover {
            color: var(--Sand);
        }
    }

    &-Button {
        height: 5rem;
        width: 5rem;
        fill: var(--Neutral);
        margin-bottom: 3rem;
    }

    &-DropDown {
        margin-bottom :5rem;
        width: 65vw;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        
        & > * {
            margin-right: 5rem;
            flex: 1;
        }
    }

    &-img {
        transform: rotate(180deg);
        width: 20%;
    }
}

@-webkit-keyframes Swirl {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes Swirl {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}